{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}

<div class="container">
  <h1>WELCOME TO YouPitch Application hope you enjoy fully.</h1>
  {% if current_user.is_authenticated%}
  {% endif%}
  <a href="{{url_for('main.new_pitch')}}">POST A PICTH</a>
<h3 style="color: green;text-align: center">Pitch Categories</h3>
<br>
<ul class="nav nav-pills nav-justified nav-fill" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#product">Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#interview">Interview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#pickupline">Pickupline</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#promotion">Promotion</a>
  </li>
</ul>
<div class="tab-content">
  <div id="product" class="container tab-pane active"><br>
    {{ macro.displaypitch(productpitch) }}

  </div>
  <div id="interview" class="container tab-pane fade"><br>
    {{ macro.displaypitch(interviewpitch) }}
  </div>
  <div id="pickupline" class="container tab-pane fade"><br>
    {{ macro.displaypitch(pickuplines)}}
  </div>
  <div id="promotion" class="container tab-pane fade"><br>
    {{ macro.displaypitch(promotionpitch) }}
  </div>
  </div>
  {% endblock%}